#home  { 
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  /*background-image-bottom: 0px;*/
  /*background-right: 0px;*/
  /*display: table;*/

}

h1.first, h1.second {
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
}

h1.first {
  margin-bottom: -5px;
}
h1.second{
  margin-top: -20px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

.top, li {
  padding: 8px !important;
}

.top, .top-nav-item.dropdown {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #000000;
  text-align: center;
}

.top-nav-item.dropdown a {
  color: black;
}

.nav-item.dropdown {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
}


.nav-item.dropdown a {
  color: black;
}

.input-group {
  position: absolute;
  height: 30px;
  width: 100%;
}

.input-group .form-control, .form-control-plaintext, . custom-select, .custom-file {
  position: relative;
  flex: none;
  width: 1%;
  margin-bottom: 0
}

.input-group input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10pt;
  height: 50px;
  width: 55px;
  padding: 20px;
}

.input-group-append {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 50px;
}

.button {
  background-color: #d48168;
}

#home, #products {
  height: 100vh;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 70%;
  display: inline-block;
  margin-bottom: 14px;
  margin-left: 15px;
  margin-right: 15px;
}

hr.first {
  width:200px; 
  color:grey;
}


.navbar-custom {
  color: #000000;
  background-color: #ffffff;
}

.p-5 {
  width:800px;
  margin-right: auto;
  margin-left: auto;
}

.caret {
  vertical-align: bottom;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
   background-color: white;
   color: white;
   text-align: center;
}