body  { 
  background-image: url(background.jpg);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}


.input-group {
    width: 50%;
    margin: 50px auto;
}

.button {
  background-color: #d48168;
}