body  { 
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image-bottom: 0px;
  background-right: 0px;
  display: table;
}

h1 {
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}


.input-group {
    position: absolute;
    top: 200px;
    left: 70px;
    height: 30px;
    width: 70%;
}

.input-group input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 70px;
  width: 60px;
  padding: 20px;
}

.input-group-append {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 70px;
  width: 60px;
}

.button {
  background-color: #d48168;
}

#home, #about, #items{
  height: 960px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

hr.first {
  width:250px; 
  color:grey;
}