.slider-area {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 90%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .img {
      width: 200px;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

.items {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10pt;
  color: #000000;
  text-decoration: underline;
}

#products {
  margin-top: 10px;
  margin-bottom: 30px;
}

.dots {
  color: red;
}

.slick-prev:before, .slick-next:before {
  color: red !important;
}

.slick-slide {
  max-width: 300px;
}